<div class="animate__animated animate__fadeIn animate__slow">
    <h2>By Country</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-country-input
                (onEnter)="search( $event )"
                (onDebounce)="suggestion( $event )"
                placeholder="Search country...">
            </app-country-input>
        </div>
    </div>

    <ul class="list-group">
        <li *ngFor="let country of suggestionCountry"
            class="list-group-item list list-group-item-action">
            <a class="nav-link"
                [routerLink]="['/country', country.alpha2Code]">
            {{ country.name }}
            </a>
        </li>
    </ul>

    <hr>
</div>

<div *ngIf="queryError"
    class="alert alert-danger">
    Nothing found for {{ searchTerm }}! :(
</div>

<div *ngIf="countries.length > 0"
    class="row">
    <div class="col">
        <app-countries-table [countries]="countries"></app-countries-table>
    </div>
</div>