<h2>By Country</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="search()"
            autocomplete="off">
            <input type="text"
                name="searchTerm"
                class="form-control"
                [(ngModel)]="searchTerm"
                placeholder="Search country..."> 
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger">
    Nothing found! :(
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Flag </th>
                    <th> Name </th>
                    <th> Population </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>flag</td>
                    <td>name</td>
                    <td>123456789</td>
                    <td>
                        a
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>